/* General styling for the component container */
.add-budget-container {
    margin: -20% auto 0; /* Increase the negative margin to move the box upward */
    padding: 30px; /* Add padding to increase space between border and content */
    border-radius: 10px;
    border: 1px solid #333; /* Add a 2px solid border with color #333 */
}

/* Styling for the header */
.header {
    color: #333;
    border-bottom: 2px solid #333; /* Add a 2px solid border at the bottom with color #333 */
}

/* Styling for the select dropdown */
.select-dropdown {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc; /* Add a 1px solid border with color #ccc */
    border-radius: 5px; /* Add border-radius for rounded corners */
}

/* Styling for the input fields */
.input-field {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styling for the button */
.add-budget-button {
    margin: 10px 0;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

/* Styling for the capacity table */
.capacity-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #4caf50; /* Add a 2px solid border with color #4caf50 */
    border-radius: 10px;
}

.capacity-table th, .capacity-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.capacity-table th {
    background-color: #4caf50;
    color: white;
    border: 1px solid #4caf50; /* Add a 1px solid border with color #4caf50 */
}
