/* BudgetChart.css */

budget-chart {
  max-width: 100px;
  margin: 100 auto;
}

budget-chart canvas {
  width: 10%;
  height: 100%; /* Set canvas height to 100% for responsiveness */
  max-width: 100%;
}

.budget-canvas,
.budget-pie-canvas {
  width: 100%;
  height: 100%; /* Set canvas height to 100% for responsiveness */
  margin-bottom: 25px;
}
