.personalbudget {
    text-align: center;
    
    top: 10%;
    left: 50%;
    transform: translateX(0%);
    width: 100%;
    background-color: rgb(190, 179, 215);
    padding: 10px 0;
    margin: 0;
    z-index: 1000;
}

.logout-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #bc4e38;
    color: #290c0c;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard {
    margin-top:0%; 
    background-color: rgb(228, 221, 230);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(245, 242, 242, 0.1);
}

.dashboard ul {
    list-style-type: none;
    padding: 0;
}

.dashboard ul li {
    display: inline-block;
    margin-right: 10px;
}

.dashboard button {
    background-color: #4caf50;
    color: #3c2d2d;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard button:hover {
    background-color: #45a049;
}

.centered-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .add-budget-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .budget-list-component {
    display: flex;
     justify-content: center;
    align-items: center; 
    height: 50vh;
  }
  
  .budget-chart-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  .add-budget-capacity-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


.dashboard-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px; 
    width: 100%;
    box-sizing: border-box;
  }
  
  .dashboard-modal h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .dashboard-modal p {
    margin-bottom: 20px;
  }
  
  .dashboard-modal button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dashboard-modal button:hover {
    background-color: #45a049;
  }
  